<!-- As a heading -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<a routerLink="" class="navbar-brand">Rotas Angular</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" >Login</a>
        <a class="nav-item nav-link" routerLink="/cursos" routerLinkActive="active">Cursos</a>
        <a class="nav-item nav-link" [routerLink]="['curso', idCurso.value]"
        routerLinkActive="router-link-active" routerLinkActive="active">Curso {{ idCurso.value }}</a>
    </div>
</div>
</nav>
<div class="container">
    <p>Id do curso:</p>
    <input type="text" #idCurso>
    <router-outlet></router-outlet>
</div>
