<h3>Exemplos de Pipes</h3>

<p>Titulo: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency: 'BRL' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'mediumDate' }}</p>
<p>Link: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>
<br><br>
<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add curso</button>
<br>
<h3>Pipe puro</h3>
<ul>
    <li *ngFor="let liv  of livros | filtroArray:filtro">
        {{ liv }}
    </li>
</ul>
<br>
<h3>Pipe impuro</h3>
<ul>
    <li *ngFor="let liv  of livros | filtroArrayImpuro:filtro">
        {{ liv }}
    </li>
</ul>
<h3>Maneira correta de fazer filtro nos projetos</h3>
<ul>
    <li *ngFor="let liv  of obterCursos()">
        {{ liv }}
    </li>
</ul>
<br>
<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>