<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="inputName">Nome</label>
    <input type="text" class="form-control" id="inputName" formControlName="inputName" [class.is-invalid]="inputErrored('inputName')">
    <app-form-control-error [showError]="inputErrored('inputName')" errorMessage="'Nome' é obrigatório"></app-form-control-error>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" formControlName="inputEmail" [class.is-invalid]="inputErrored('inputEmail')">
    <app-form-control-error [showError]="inputErrored('inputEmail')" errorMessage="'Email' é obrigatório"></app-form-control-error>
    <app-form-control-error [showError]="invalidEmail('inputEmail')" errorMessage="'Email' inválido"></app-form-control-error>
  </div>
  <div formGroupName="groupEndereco">
      <div class="form-row">
        <div class="form-group col-4">
          <label for="inputCep">CEP</label>
          <input type="text" class="form-control" id="inputCep" formControlName="inputCep" [class.is-invalid]="inputErrored('groupEndereco.inputCep')" (blur)="consultaCEP()">
          <app-form-control-error [showError]="inputErrored('groupEndereco.inputCep')" errorMessage="'CEP' é obrigatório"></app-form-control-error>
        </div>
        <div class="form-group col-2">
          <label for="inputNumero">Número</label>
          <input type="number" class="form-control" id="inputNumero" formControlName="inputNumero" [class.is-invalid]="inputErrored('groupEndereco.inputNumero')">
          <app-form-control-error [showError]="inputErrored('groupEndereco.inputNumero')" errorMessage="'Número' é obrigatório"></app-form-control-error>
        </div>
        <div class="form-group col-6">
          <label for="inputComplemento">Complemento</label>
          <input type="text" class="form-control" id="inputComplemento" formControlName="inputComplemento">
        </div>
      </div>
      <div class="form-group">
        <label for="inputLogradouro">Logradouro</label>
        <input type="text" class="form-control" id="inputLogradouro" formControlName="inputLogradouro" readonly>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="inputBairro">Bairro</label>
          <input type="text" class="form-control" id="inputBairro" formControlName="inputBairro" readonly>
        </div>
        <div class="form-group col-4">
          <label for="inputCidade">Cidade</label>
          <input type="text" class="form-control" id="inputCidade" formControlName="inputCidade" readonly>
        </div>
        <div class="form-group col-2">
          <label for="selectEstado">Estado</label>
          <select class="custom-select" id="selectEstado" formControlName="selectEstado">
            <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
          </select>
        </div>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="selectCargo">Cargo</label>
      <select class="custom-select" id="selectCargo" formControlName="selectCargo" [compareWith]="checkFunctions">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.descricao }}</option>
      </select>
    </div>
    <div class="form-group col">
      <label for="selectTecnologias">Tecnologias</label>
      <select multiple class="custom-select" id="selectTecnologias" formControlName="selectTecnologias">
        <option *ngFor="let tec of tecnologias" [value]="tec.nome">{{ tec.descricao }}</option>
      </select>
    </div>
    <div class="form-group col">
      <label>Newsletter?</label><br>
      <div class="form-check form-check-inline" *ngFor="let item of newsletterOpts">
        <input class="form-check-input" type="radio" id="radioNewsletterYes" formControlName="radioNewsletter" [value]="item.value">
        <label class="form-check-label" for="radioNewsletterYes">{{ item.name }}</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkTermos" formControlName="checkTermos" [class.is-invalid]="inputErrored('checkTermos')">
        <label class="form-check-label" for="checkTermos">
          Li e concordo com os termos de uso
        </label>
      </div>
      <app-form-control-error [showError]="inputErrored('checkTermos')" errorMessage="É necessário aceitar os termos"></app-form-control-error>
    </div>
  </div>
  <div class="form-row">
    <div class="col"><button class="btn btn-primary btn-block" type="submit">Enviar</button></div>
    <div class="col"><button class="btn btn-outline-primary btn-block" type="button" (click)="cancel()">Cancelar</button></div>
    <div class="col"><button class="btn btn-outline-secondary btn-block" type="button" (click)="setCargo()">Cargo</button></div>
    <div class="col"><button class="btn btn-outline-secondary btn-block" type="button" (click)="setTecnologias()">Tecnologias</button></div>
  </div>
</form>
<app-form-debug [form]="formulario"></app-form-debug>