<div class="card">
  <div class="card-header h4">
    <strong>Cursos</strong>
    <button type="button" class="btn btn-primary btn-sm float-right">Adicionar</button>
  </div>
  <div class="card-body">
    <table class="table table-striped" *ngIf="cursos$ | async as cursos; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nome }}</td>
          <td class="text-right">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-info btn-sm">Atualizar</button>
              <button type="button" class="btn btn-outline-info btn-sm">Remover</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando cursos...</span>
    </ng-template>
  </div>
</div>